.foodX__banner_container {
  display: flex;
  justify-content: space-between;
  background: #c00c0c;
  padding: 5rem 10%;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.foodX__banner_text {
  width: 50%;
  margin-bottom: 7rem;
}

.foodX__banner_H3 {
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  color: #fff;
  padding-bottom: 4rem;
  line-height: 1.3;
}

.foodX__banner_P {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.7rem;
  color: #ffffff;
  width: 80%;
  padding-bottom: 4rem;
}

.FoodX__banner_image {
  position: relative;
  opacity: 0;
  animation: fadeInRight 1.5s forwards;
}

.FoodX__banner_circle1 {
  width: 504px;
  height: 514px;
  background: rgba(217, 217, 217, 0.22);
  border-radius: 50%;
  position: absolute;
  top: -24%;
  right: -20px;
}
.FoodX__banner_circle2 {
  width: 504px;
  height: 514px;
  background: rgba(217, 217, 217, 0.22);
  border-radius: 50%;
  position: absolute;
  right: 13.5%;
  bottom: 19%;
  animation: scaleUp 0.5s linear;
}

@keyframes scaleUp {
  0% {
    transform: scale(0%);
    opacity: 0;
  }

  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.features_text h2 {
  text-align: center;
  margin: 6rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 30px;
}

.feature__card_container {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}

.customers__text h2 {
  text-align: center;
  margin: 7rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 30px;
}

.customers_carousel {
  width: 100%;
  height: 357px;
  background: #d9d9d9;
}

.app__info2__container {
  margin-top: 25rem;
  display: flex;
  align-items: center;
  padding: 6rem 5% 5rem 17%;
  justify-content: space-between;
  background: #e6efeb;
}

.app__info2_text {
  width: 50%;
}

.app__info2_text h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 48px;
  padding: 5rem 0;
}

.app__info2_heading {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  width: 60%;
  padding-bottom: 3rem;
}

.app__info2_content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 75%;
  padding-bottom: 5rem;
}

.app__info2_text h6 {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}

.app__info2_img img {
  width: 32rem;
  height: 52rem;
}

.pricing__text h2 {
  text-align: center;
  margin: 10rem 0;
  font-style: normal;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 30px;
}

.pricing__container {
  padding: 2rem 17%;
  display: flex;
  margin-bottom: 7rem;
}

.pricing__card {
  border: 1px solid #000;
  border-radius: 7px;
  margin-right: 2rem;
}

.pricing__card h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  padding: 1rem 0;
}
.pricing__card p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 1rem 5rem;
  text-align: center;
}

.horizontal__line {
  border: 0.3px solid #000;
  margin: 0 6rem;
}

.pricing__card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
}

.pricing__card button {
  margin: 1rem auto 4rem auto;
  display: block;
}

.pricing__card p span {
  padding-right: 3rem;
}

.pricing__feature {
  width: 90%;
}

.footer__cta {
  background: #e6efeb;
  padding: 6rem 0;
}

.footer__cta h5 {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;
  padding: 0 0 3rem 0;
}

.footer__cta p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}

.footer__cta button {
  margin: 4rem auto;
  display: block;
}
/* ----------------------DESKTOP VIEW (13inches---------------------------------- */

@media screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .foodX__banner_H3 {
    font-weight: 300;
    font-size: 2rem;
  }

  .FoodX__banner_circle1 {
    width: 324px;
    height: 334px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 50%;
    position: absolute;
    top: -16%;
    right: -20px;
  }
  .FoodX__banner_circle2 {
    width: 380px;
    height: 380px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 50%;
    position: absolute;
    right: 10.5%;
    bottom: 21%;
    animation: scaleUp 0.5s linear;
  }

  .foodX__banner_phone img {
    width: 40rem;
    height: 54rem;
  }

  .customers_carousel {
    width: 100%;
    height: 227px;
    background: #d9d9d9;
  }

  .pricing__text h2 {
    text-align: center;
    margin: 7rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 30px;
  }

  .pricing__container {
    padding: 2rem 10%;
    display: flex;
    margin-bottom: 7rem;
  }

  .pricing__card {
    border: 0.5px solid #000;
    border-radius: 7px;
    /* margin-right: 2rem; */
  }

  .pricing__card h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 1rem 0;
  }
  .pricing__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    padding: 0rem 5rem;
    text-align: center;
  }

  .horizontal__line {
    border: 0.3px solid #000;
    margin: 0 6rem;
  }

  .pricing__card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 96px;
    text-align: center;
  }

  .pricing__card button {
    margin: 1rem auto 4rem auto;
    display: block;
  }

  .pricing__card p span {
    padding-right: 3rem;
  }

  .pricing__feature {
    width: 90%;
  }

  .footer__cta {
    background: #e6efeb;
    padding: 4rem 0;
  }

  .footer__cta h5 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 72px;
    padding: 0 0 2rem 0;
  }

  .footer__cta p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
  }

  .footer__cta button {
    margin: 3rem auto;
    display: block;
  }
}

/* ---------------------------MOBILE VIEW---------------------------------------- */

@media screen and (max-width: 480px) {
  .foodX__banner_container {
    display: block;
    background: #c00c0c;
    padding: 2rem 5%;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
    height: auto;
  }
  .foodX__banner_text {
    width: 100%;
    margin-bottom: 5rem;
  }

  .foodX__banner_H3 {
    font-style: normal;
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    color: #fff;
    padding: 5rem 0 1.8rem;
    line-height: 1.3;
  }

  .foodX__banner_P {
    font-style: normal;
    font-weight: 200;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    color: #ffffff;
    width: 95%;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .FoodX__banner_circle1 {
    width: 252px;
    height: 257px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 50%;
    position: absolute;
    top: 64%;
    right: -20px;
    display: none;
  }
  .FoodX__banner_circle2 {
    width: 252px;
    height: 257px;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 50%;
    position: absolute;
    right: -38.5%;
    bottom: 20%;
    animation: scaleUp 0.5s linear;
    display: none;
  }


  .banner_btn button {
    margin: 0 auto;
    margin-top: 2rem;
    display: block;
    justify-content: center;
    width: 60%;
    padding: 2.8rem 0;
    font-size:20px;
    font-weight: 600;
  }

  .foodX__banner_phone img {
    width: 37rem;
    height: 35rem;
    display: none;
  }

  .feature__card_container {
    display: block;
  }

  .customers_carousel {
    width: 100%;
    height: 157px;
    background: #d9d9d9;
  }

  .app__info__container {
    margin-top: 3rem;
    display: block;
    align-items: center;
    padding: 0 5%;
  }

  .app_info_text {
    width: 90%;
  }

  .app__info_text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    padding: 2rem 0;
    text-align: center;
  }

  .app__info_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
  }

  .app__info_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
  }

  .app__info_img {
    position: relative;
    padding-top: 4rem;
  }

  .app__info_img img {
    width: 15rem;
    height: 28rem;
    margin-left: 11rem;
  }

  .app__info_circle {
    background: #d55f5f;
    width: 232px;
    height: 237px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    bottom: 5%;
    left: 16.5%;
  }

  .app__info_phone {
    z-index: 1;
  }

  .app__info2_text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }

  .app__info2__container {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }

  .app__info2_text {
    order: 1;
    width: 100%;
  }

  .app__info2_text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
  }

  .app__info2_heading {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
    padding-bottom: 3rem;
    text-align: center;
  }

  .app__info2_content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    padding-bottom: 4rem;
    text-align: center;
  }

  .app__info2_img {
    order: 2;
  }

  .app__info2_img img {
    width: 15rem;
    height: 28rem;
    margin-top: 3rem;
  }

  .app__info2_text h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
  }

  .pricing__text h2 {
    text-align: center;
    margin: 7rem 0;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 30px;
  }

  .pricing__container {
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 7rem; */
  }

  .pricing__card {
    border: 0.5px solid #000;
    border-radius: 7px;
    margin-bottom: 3rem;
    margin-right: 0rem;
  }

  .pricing__card h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding: 1rem 0;
  }
  .pricing__card p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .horizontal__line {
    border: 0.3px solid #000;
    margin: 0 6rem;
  }

  .pricing__card h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 96px;
    text-align: center;
  }

  .pricing__card button {
    margin: 1rem auto 4rem auto;
    display: block;
  }

  .pricing__card p span {
    padding-right: 5rem;
  }

  .pricing__feature {
    width: 90%;
  }

  .footer__cta {
    background: #e6efeb;
    padding: 6rem 0;
  }

  .footer__cta h5 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    padding: 0 0 3rem 0;
  }

  .footer__cta p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
  }

  .footer__cta button {
    margin: 4rem auto;
    display: block;
  }

  .footer__cta {
    background: #e6efeb;
    padding: 2rem 0;
  }

  .footer__cta h5 {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    padding: 0 0 2rem 0;
  }

  .footer__cta p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
  }

  .footer__cta button {
    margin: 3rem auto;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 60%;
  }
}
